{% extends 'base.backoffice.html.twig' %}

{% block body %}
        <h1>Create new User</h1>
        {{ include('backoffice/user/_form.html.twig') }}
        <a href="{{ path('app_user_login') }}" class="btn btn-secondary">Back to Login</a>
{% endblock %}
