form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* Style des éléments du formulaire */
form input[type="text"],
form select {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style du bouton de soumission */
form button[type="submit"] {
    padding: 7px 20px;
    background-color: rgb(27, 153, 211);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style du bouton de soumission au survol */
form button[type="submit"]:hover {
    background-color: rgb(27, 153, 211);
}