<form method="post" action="{{ path('app_evenement_delete', {'id': evenement.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
    <button class="btn" style ="color:blue;"> <i class="fas fa-trash-alt"></i> </button>
</form>
