{% extends 'base.backoffice.html.twig' %}

{% block title %}Edit Medicament{% endblock %}

{% block body %}
    <h1>Edit Medicament</h1>
    <div style="padding-left: 200px;padding-top: 200px" class="container">


    {{ include('backoffice/medicament/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="container-fluid">
    <div class="row mt-4">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-secondary" href="{{ path('app_medicament_index_backoffice') }}">Back to list</a>
                             {{ include('backoffice/medicament/_delete_form.html.twig') }}
                        
                        <!-- Ajoutez d'autres liens ici selon vos besoins -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
{% endblock %}
