{% extends 'base.backoffice.html.twig' %}

{% block title %}New Medicament{% endblock %}

{% block body %}
<div style="padding-left: 200px;padding-top: 200px" class="container">

    <h1>Create new Medicament</h1>

    {{ include('backoffice/medicament/_form.html.twig') }}

   
    </div>
{% endblock %}
