{% extends 'base.backoffice.html.twig' %}

{% block title %}New Pharmacie{% endblock %}

{% block body %}
<div style="padding-left: 100px;padding-top: 200px" class="container">

    <h1>Create new Pharmacie</h1>

    {{ include('backoffice/pharmacie/_form.html.twig') }}

   
</div>
{% endblock %}
