{% extends 'base.html.twig' %}

{% block body %}
    <div style="padding-top: 200px" class="container">
        <h1 class="mb-4">Edit User</h1>

        {{ include('frontoffice/user/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="mt-4">
            <a href="{{ path('app_login') }}" class="btn btn-secondary">Back to list</a>
        </div>

        {# {{ include('frontoffice/user/_delete_form.html.twig') }} #}
    </div>
{% endblock %}
